.cover {
    background-image: url("../images/cover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title {
    @apply text-[15px] leading-6 font-medium
}
.switch {
    @apply relative inline-block
}

.switch input {
    @apply opacity-0 w-0 h-0
}

.slider {
    @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-violet bg-opacity-40 transition-all duration-300
}

.slider:before {
    box-shadow: 0px 4px 4px 0px #00000033;
    @apply absolute content-[''] size-6 left-[3px] bottom-[3px] bg-white duration-300
}

input:checked + .slider {
    @apply bg-opacity-100
}

input:checked + .slider:before {
    @apply translate-x-[100%]
}

/* Rounded sliders */
.slider.round {
    @apply rounded-[34px]
}

.slider.round:before {
    @apply rounded-[50%]
}
